mat-checkbox{
    display: flex;
    align-items: center;
}
//partie lieu intervention
#lieu-intervention{
    display: grid;
    grid-template-areas: 
    "labelLieuIntervention"
    "inputLieuIntervention";
    grid-template-columns: 1fr;
}
#label-lieu-intervention{
    grid-area: labelLieuIntervention;
    display: flex;
    align-items: center;
}
#input-lieu-intervention{
    grid-area: inputLieuIntervention;
}

//partie vidange
#check-box-vidange {                                                                           
    display: grid;
    grid-template-areas:
        "huileMoteur"
        "inputProchainVidangeHuileMoteur"
        "liquideRefroidissement"
        "inputProchainVidangeLiquideRefroidissement"
        "huileBoiteVitesse"
        "inputProchainVidangeHuileBoiteVitesse";
    grid-template-columns: 1fr;
}
#huile-moteur {
    grid-area: huileMoteur;
}
#input-prochain-vidange-huile-moteur {
    grid-area: inputProchainVidangeHuileMoteur;
}
#liquide-refroidissement {
    grid-area: liquideRefroidissement;
}
#input-prochain-vidange-liquide-refroidissement {
    grid-area: inputProchainVidangeLiquideRefroidissement;
}
#huile-boite-vitesse {
    grid-area: huileBoiteVitesse;
}
#input-prochain-vidange-huilde-vitesse {
    grid-area: inputProchainVidangeHuileBoiteVitesse;
}
// fin partie vidange

//partie changement pieces
#check-box-pieces {
    display: grid;
    grid-template-areas:
        "filtreHuilde filtreAir"
        "filtreClimatiseur filtreClimatiseur"
        "inputProchainChangementFiltreClimatiseur inputProchainChangementFiltreClimatiseur"
        "filtrCarburant filtrCarburant"
        "inputProchainChangementFiltreCarburant inputProchainChangementFiltreCarburant"
        "bougies bougies"
        "inputProchainChangementBougies inputProchainChangementBougies"
        "courroies courroies"
        "inputProchainChangementCourroies inputProchainChangementCourroies"
        "pneus pneus"
        "inputProchainChangementPneus inputProchainChangementPneus"
        "reparation reparation"
        "inputNoteReparation inputNoteReparation";
    grid-template-columns: 1fr 1fr;
}
#filtre-huile {
    grid-area: filtreHuilde;
}
#filtre-air {
    grid-area: filtreAir;
}
#filtre-climatiseur {
    grid-area: filtreClimatiseur;
}
#input-prochain-changement-filtre-climatiseur {
    grid-area: inputProchainChangementFiltreClimatiseur;
}
#filtre-carburant {
    grid-area: filtrCarburant;
}
#input-prochain-changement-filtre-carburant{
    grid-area: inputProchainChangementFiltreCarburant;
}
#bougies {
    grid-area: bougies;
}
#input-prochain-changement-bougies{
    grid-area: inputProchainChangementBougies;
}
#courroies {
    grid-area: courroies;
}
#input-prochain-changement-courroies{
    grid-area: inputProchainChangementCourroies;
}
#pneus{
    grid-area: pneus;
}
#input-prochain-changement-pneus{
    grid-area: inputProchainChangementPneus;
}
#reparation{
    grid-area: reparation;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#input-note-reparation{
    grid-area: inputNoteReparation;
}
//fin partie changement pieces

@media only screen and (min-width: 760px)
{
    #lieu-intervention{
        display: grid;
        grid-template-areas: 
        "labelLieuIntervention inputLieuIntervention";
        grid-template-columns: 1fr 1fr;
    }
    #check-box-vidange {                                                                           
        display: grid;
        grid-template-areas:
            "huileMoteur inputProchainVidangeHuileMoteur"
            "liquideRefroidissement inputProchainVidangeLiquideRefroidissement"
            "huileBoiteVitesse  inputProchainVidangeHuileBoiteVitesse";
        grid-template-columns: 1fr 1fr;
    }
    #check-box-pieces {
        display: grid;
        grid-template-areas:
            "filtreHuilde    filtreAir"
            "filtreClimatiseur inputProchainChangementFiltreClimatiseur"
            "filtrCarburant inputProchainChangementFiltreCarburant"
            "bougies inputProchainChangementBougies"
            "courroies inputProchainChangementCourroies"
            "pneus inputProchainChangementPneus"
            "reparation inputNoteReparation";
        grid-template-columns: 1fr 1fr;
    }
}