<!-- Afficher matricule TUN -->
<div *ngIf="tun" class="position-relative form-group container matricule">
  <div class="row matriculetun">
      <ul class="list-group" *ngIf="vehicule">
          <div class="form-group">
              <li class="list-group-item" id="numSerie">{{serie}}</li>
          </div>
          <div class="form-group">
              <li class="list-group-item" id="numCar">{{numCar}}</li>
          </div>
      </ul>
  </div>
</div>
<!-- Afficher matricule rs -->
<div *ngIf="rs" class="position-relative form-group container matricule">
  <div class="row matriculers">
      <ul class="list-group" *ngIf="vehicule">
          <div class="form-group">
              <li class="list-group-item" id="numRS">{{matRS}}</li>
          </div>
      </ul>
  </div>
</div>
<div mat-dialog-content>
  <ul class="list-group" *ngIf="vehicule && carburant">
    <!-- afficher marque -->
    <div class="position-relative form-group"><label for="marque" class="">Marque</label>
      <li class="list-group-item">{{vehicule.marque}}</li>
    </div>
    <!-- afficher le modele -->
    <div class="position-relative form-group"><label for="modele" class="">Modele</label>
      <li class="list-group-item">{{vehicule.modele}}</li>
    </div>
    <!-- afficher le couleur -->
    <div class="position-relative form-group"><label for="couleur" class="">Couleur</label>
      <li class="list-group-item">{{vehicule.couleur}}</li>
    </div>
    <!-- afficher la categorie -->
    <div class="position-relative form-group"><label for="categories" class="">Categories Permis Accordées</label>
      <li class="list-group-item">{{vehicule.categories}}</li>
    </div>
    <!-- afficher kilometrage actuel -->
    <div class="position-relative form-group"><label for="kmactuel" class="">Kilométrage Actuel</label>
      <li class="list-group-item">{{vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain vidange huile moteur -->
    <div class="position-relative form-group"><label>Prochain vidange huile moteur dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainVidangeHuileMoteur-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain vidange liquide refroidissement -->
    <div class="position-relative form-group"><label>Prochain vidange liquide refroidissement dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainVidangeLiquideRefroidissement-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain vidange huile boite vitesse -->
    <div class="position-relative form-group"><label>Prochain vidange huile boite vitesse dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainVidangeHuileBoiteVitesse-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain changement filtre climatiseur -->
    <div class="position-relative form-group"><label>Prochain changement filtre climatiseur dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainChangementFiltreClimatiseur-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain changement filtre carburant -->
    <div class="position-relative form-group"><label>Prochain changement filtre carburant dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainChangementFiltreCarburant-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain changement bougies -->
    <div class="position-relative form-group"><label>Prochain changement des bougies dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainChangementBougies-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain changement courroies -->
    <div class="position-relative form-group"><label>Prochain changement des courroies dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainChangementCourroies-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher kilometrage restant pour le prochain changement pneus -->
    <div class="position-relative form-group"><label>Prochain changement des pneus dans</label>
      <li class="list-group-item">{{vehicule.kilometrageProchainChangementPneus-vehicule.kmactuel}}</li>
    </div>
    <!-- afficher type carburant -->
    <div class="position-relative form-group"><label for="carburant" class="">Carburant</label>
      <li class="list-group-item">{{vehicule.carburant}}</li>
    </div>
    <!-- afficher consomation normale -->
    <div class="position-relative form-group"><label for="consommationnormale" class="">Consommation Normale</label>
      <li class="list-group-item">{{vehicule.consommationNormale}}</li>
    </div>
    <!-- afficher consomation actuelle -->
    <div class="position-relative form-group" *ngIf="vehicule.distanceparcourie!=null"><label for="consommationactuelle"
        class="">Consommation Actulle</label>
      <li class="list-group-item">
        {{(((vehicule.montantConsomme/carburant.prixCarburant)/vehicule.distanceparcourie)*100).toFixed(2)}}</li>
    </div>
    <!-- afficher charge utile -->
    <div class="position-relative form-group"><label for="charge_utile" class="">Charge Utile</label>
      <li class="list-group-item">{{vehicule.charge_utile}}</li>
    </div>
    <!-- afficher longueuer -->
    <div class="position-relative form-group"><label for="longueuer" class="">Longueur</label>
      <li class="list-group-item">{{vehicule.longueur}}</li>
    </div>
    <!-- afficher largeur -->
    <div class="position-relative form-group"><label for="longueuer" class="">Largeur</label>
      <li class="list-group-item">{{vehicule.largeur}}</li>
    </div>
    <!-- afficher hauteur -->
    <div class="position-relative form-group"><label for="longueuer" class="">Hauteur</label>
      <li class="list-group-item">{{vehicule.hauteur}}</li>
    </div>
    <!-- afficher date prochaine visite -->
    <div class="position-relative form-group"><label for="datevisite" class="">Date Prochaine Visite</label>
      <li class="list-group-item">{{vehicule.datevisite | date:' d MMMM y' : '' : 'fr'}}</li>
    </div>
    <!-- date expiration assurance -->
    <div class="position-relative form-group"><label for="dateassurance" class="">Date D'Expiration D'Assurance</label>
      <li class="list-group-item">{{vehicule.dateassurance | date:' d MMMM y' : '' : 'fr'}}</li>
    </div>
    <!-- date expiration des taxes -->
    <div class="position-relative form-group"><label for="datetaxe" class="">Date D'Expiration Des Taxes</label>
      <li class="list-group-item">{{vehicule.datetaxe | date:' d MMMM y' : '' : 'fr'}}</li>
    </div>

  </ul>
</div>
<div mat-dialog-actions class="float-right">
  <!-- Bouton Fermer -->
  <button mat-button class="mb-2 mr-2" (click)="fermerDetailVehicule()">Fermer</button>
  <!-- fin Bouton Fermer -->

  <!-- Bouton Imprimer -->
  <button mat-button color="primary" class="mb-2 mr-2" (click)="printPage()">
    <mat-icon>print</mat-icon> Imprimer
  </button>
  <!-- fin Bouton Imprimer -->
</div>