 
<div>
    <div class="menu">
        <div class="inline">
            <a routerLink="/Menu/Menu-init/Menu-fournisseur"><img src="../../assets/images/init/fournisseur.jpg" />
                <h2>Fournisseur</h2>
            </a> 
        </div> 
        <div class="inline">
            <a routerLink="/Menu/Menu-init/Menu-client"><img src="../../assets/images/init/client.jpg" />
                <h2>Client</h2>
            </a>
        </div>  
        <div class="inline">
            <a routerLink="/Menu/Menu-achat/Menu-bon-commande"><img src="../../assets/images/init/produit.jpg" />
                <h2>Produit</h2>
            </a>
        </div>
    </div>

    <div class="menu">
        <div class="inline" >
            <a routerLink="/Menu/Menu-init/Menu-ngp">
                <img src="../../assets/images/init/ngp.jpg" />
                <h2>NGP</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-init/Menu-donnees"><img src="../../assets/images/init/donnee.png" />
                <h2>Données</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-init/Menu-local"><img src="../../assets/images/init/local.png" />
                <h2>Local</h2>
            </a>
        </div>
    </div>
</div>
 
 