.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 325px !important;
}
.btn-b {
  color: darkblue;
  cursor: pointer;
}
table td {
  height: 50px;
  vertical-align: middle;
}
th.mat-sort-header-sorted {
  color: black;
}
.right {
  margin: 10px;
  float: right;
}
.next {
  color: #fff;
  background-color: #3f6ad8;
}
.title {
  margin: 10px;
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: 0.88rem;
}
