<mat-horizontal-stepper linear #stepper>
    <!-- List of BL  -->

    <mat-step [stepControl]="infoFormGroup">
        <!-- list of BL -->
        <ng-template matStepLabel>Choisir BL(s)</ng-template>
        <div class="row">
            <h5 class="title">Convertir BL(s) en facture : </h5>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Sélectionnez un Client</mat-label>
                        <mat-select [(ngModel)]="champ" (change)="onChange($event)">
                            <mat-option *ngFor="let key of keyValues" [value]="key.id_Clt">{{key.nom_Client }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="input-group col-md-4">
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Saisissez une plage de dates</mat-label>
                        <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate placeholder="Date de début" [(ngModel)]="dateRangeStart"
                                (dateChange)="dateRangeChangeDateOne($event)" />
                            <input matEndDate placeholder="Date de fin" [(ngModel)]="dateRangeEnd"
                                (dateChange)="dateRangeChangeDateTwo($event)" />
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker>
                            <mat-date-range-picker-actions>
                                <button mat-button matDateRangePickerCancel>Annuler</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply
                                    (keyup)="getValue($event); filterByChamp()"
                                    (click)="getValue($event); filterByChamp()">Appliquer</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf='showResult'>
            <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
            <div class="mat-elevation-z8">
                <table class="mb-0 table" mat-table matSort [dataSource]="dataSourceBl">
                    <ng-container matColumnDef="checkbox">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"><input type="checkbox" value="element" name="element."
                                (change)="checkCheckBoxvalue($event,element)" /></td>
                    </ng-container>
                    <ng-container matColumnDef="id_Bl">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° BL </th>
                        <td mat-cell *matCellDef="let element">{{element.id_Bl}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                        <td mat-cell *matCellDef="let element">{{element.type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date_Creation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                        <td mat-cell *matCellDef="let element">{{element.date_Creation | date: 'dd/MM/YYYY' }} </td>
                    </ng-container>
                    <ng-container matColumnDef="total_ttc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total TTC</th>
                        <td mat-cell *matCellDef="let element"> {{element.total_TTC}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Voir_pdf">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element;let i=index;"> <i class="pe-7s-look btn-b"
                                title="Voir PDF" (click)="viewPDF(element)"></i>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <br>
        <button mat-raised-button class="next" [disabled]="dsiable" (click)="detailBlFacture(stepper)">Suivant
        </button>
    </mat-step>
    <mat-step>
        <!-- General -->
        <div class="row">
            <h5 class="title">En général : </h5>
        </div>
        <div>
            <mat-progress-bar mode="indeterminate" *ngIf='loadingGeneral'></mat-progress-bar>
            <div class="row mat-elevation-z8">
                <!-- Lignes d'article  -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id produit</th>
                            <th>Nom produit</th>
                            <th>Qte</th>
                            <th>TVA %</th>
                            <th>Fodec</th>
                            <th>Total TTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of blArticlsGeneral ; let i = index;">
                            <td>
                                <input [ngModel]="item.id_Produit" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.id_Produit}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.nom_Produit" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.nom_Produit}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.quantite" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.quantite}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.tva" [ngModelOptions]="{standalone: true}" class="form-control"
                                    type="text" name="{{item.quantite}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.fodec" [ngModelOptions]="{standalone: true}" class="form-control"
                                    type="text" name="{{item.quantite}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.totale_TTC" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.totale_TTC}}" disabled />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- Detail -->
        <ng-template matStepLabel>Voir les détails</ng-template>
        <div class="row">
            <h5 class="title">Details : </h5>
        </div>
        <mat-accordion *ngFor="let element of listBlCheched">
            <mat-expansion-panel (opened)="panelOpenState" (closed)="panelOpenState = false" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5>BL n° {{element.id_Bl }}</h5>
                    </mat-panel-title>
                    <hr>
                    <mat-panel-description>
                        {{element.description }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class=" d-flex justify-content-between">
                    <div>
                        <label><b>Type : </b>{{ element.type}}</label>
                    </div>
                    <div>
                        <label><b>Date : </b> {{ element.date_Creation | date: 'dd/MM/YYYY'}}</label>
                    </div>
                </div>
                <label><b>Nom du Client : </b>{{ clt.nom_Client}}</label>
                <!-- List Article -->
                <mat-progress-bar mode="indeterminate" *ngIf='loadingGeneral'></mat-progress-bar>
                <div class="row mat-elevation-z8">
                    <!-- Lignes d'article  -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id produit</th>
                                <th>Nom produit</th>
                                <th>Qte</th>
                                <th>Prix U HT</th>
                                <th>TVA(%)</th>
                                <th>Remise(%)</th>
                                <th>Fodec(%)</th>
                                <th>M_TVA_U</th>
                                <th>Prix U TTC</th>
                                <th>Total HT</th>
                                <th>Total TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of blArticls ; let i = index;">
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.id_Produit" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.id_Produit}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.nom_Produit" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.nom_Produit}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.quantite" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.quantite}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.prixU" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.prixU}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.tva" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.tva}}" size="1" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.remise" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.remise}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.fodec" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.fodec}}" disabled size="1" />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.montant_TVA" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.montant_TVA}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.prix_U_TTC" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.prix_U_TTC}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.total_HT" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.total_HT}}" disabled />
                                </td>
                                <td *ngIf="item.id_Bl == element.id_Bl ">
                                    <input [ngModel]="item.totale_TTC" [ngModelOptions]="{standalone: true}"
                                        class="form-control" type="text" name="{{item.totale_TTC}}" disabled />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <hr>
            </mat-expansion-panel>
            <br>
        </mat-accordion>
        <button mat-button class="next" matStepperNext>Suivant</button>
    </mat-step>
    <!-- Mode de Paiement -->
    <!-- 3thd step -->
    <mat-step [stepControl]="addReglementFormGroup" [completed]="isCompleted">
        <ng-template matStepLabel>Modalité du paiement</ng-template>
        <form [formGroup]="addReglementFormGroup">
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label style="color: brown;"> <b>Total à payer: (+ {{Droit_timbre}} TND):</b> <b>
                            {{total_Retenues}}</b>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label> <b>Total TTC :</b> <span> {{totalTTc_}}</span> </label>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-select formControlName="typeRegOne" [(ngModel)]="modePaiement" [disabled]=true>
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <input type="number" matInput formControlName="valueOne"
                            (ngModelChange)="getvalueModePaiement($event)" [(ngModel)]="totalTTc_reg" />
                    </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="visibel">
                    <a class="add-reglement" (click)='addReglement()'> <i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="row" *ngIf="ligneOne">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Type de Règlement</mat-label>
                        <mat-select formControlName="typeRegTwo">
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <input type="number" matInput formControlName="valueTwo"
                            (ngModelChange)="getvalueModePaiementTwo($event)" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <a class="delete-reglement" (click)="deleteReglement('1')"> <i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="row" *ngIf="ligneTwo">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Type de Règlement</mat-label>
                        <mat-select formControlName="typeRegTree">
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <input type="number" matInput formControlName="valueTree" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <a class="delete-reglement" (click)="deleteReglement('2')"> <i class="fas fa-trash-alt"></i></a>
                </div>
            </div> -->
            <mat-form-field class="full-width">
                <mat-label>Note</mat-label>
                <textarea matInput placeholder="Note" type="text" class="form-control"
                    formControlName="note"></textarea>
            </mat-form-field>
            <br>
            <br>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button class="btn btn-primary" matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <!-- Done -->
    <mat-step>
        <ng-template matStepLabel>Imprimer</ng-template>
        <p>Enregistrer la facture</p>
        <div>
            <button mat-button class="next" (click)="saveFacture()">Enregistrer</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>