 
<div>
    <div class="menu">
        <div class="inline">
            <a routerLink="/Menu/Menu-achat/Menu-bon-entree"><img src="./../../assets/images/achat/bel.jpg" />
                <h2>Bon Entrée Local</h2>
            </a>

        </div>


        <div class="inline">
            <a routerLink="/Menu/Menu-achat/Menu-bon-entree-importation"><img src="./../../assets/images/achat/bei.jpg" />
                <h2>Bon Entrée Importation</h2>
            </a>
        </div>


        <div class="inline">
            <a routerLink="/Menu/Menu-achat/Menu-bon-commande"><img src="./../../assets/images/achat/bc.jpg" />
                <h2>Bon commande</h2>
            </a>

        </div>

    </div>
</div>