.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 325px !important;
}
.btn-b {
  color: darkblue !important;
  cursor: pointer;
}
.btn-r {
  color: red;
  cursor: pointer;
}
table td {
  height: 50px;
  vertical-align: middle;
}
th.mat-sort-header-sorted {
  color: black;
}
.title {
  margin: 10px;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
}
.add-article {
  color: #fff;
  background-color: #3f6ad8;
}
