// style des filtres
.filtres {
  width: 15%;
  margin: 0 1%;
}
// style du section qui porte les filtres
section {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
// style du filtre par date
.filtre-date {
  width: min-content;
}
.filtre-date .mat-form-field {
  width: 55%;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.row {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
// style de l'etat de la mission
.attente {
  color: #f7b924;
}
.termine {
  color: #4bb543;
}
.accorde {
  color: #3f6ad8;
}
p {
  padding: 0;
  margin: 0;
}

//pour mobile
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  section {
    flex-direction: column;
    align-items: unset;
  }
  .filtres {
    left: 0;
    padding: 15px;
    width: 100%;
  }
  .filtre-date {
    width: 100%;
  }
  .filtre-date .mat-form-field {
    width: calc(100% - 80px);
  }
  .mat-table {
    max-height: none;
    overflow-y: auto;
  }

  // modifier affichage du tableau pour l'affichage mobile
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    min-height: auto;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: auto;
    margin-bottom: 4%;
    padding-right: 5%;
    padding-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 5%;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-table .mat-cell:last-of-type {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 40px;
  }
  .mat-icon,
  .mat-button {
    transform: scale(1.1);
  }
  .mat-table .mat-cell:first-of-type {
    padding-left: 0;
  }
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-header-row {
    min-height: 0;
  }
}
