 
<div>
    <div class="menu">
        <div class="inline">
            <a routerLink="/Menu/Menu-init"><img src="../../assets/images/init/ngp.jpg" />
                <h2>Données</h2>
            </a> 
        </div> 
        <div class="inline">
            <a routerLink="/Menu/Menu-achat"><img src="../../assets/images/achat/bei.jpg" />
                <h2>Achat</h2>
            </a>
        </div>  
        <div class="inline">
            <a routerLink="/Menu/Menu-vente"><img src="../../assets/images/vente/devis.png" />
                <h2>Vente</h2>
            </a>
        </div>
    </div>

    <div class="menu">
        <div class="inline" >
            <a routerLink="/Menu/WMS">
                <img src="../../assets/images/wms/stockage.jpg" />
                <h2>Entrepôt</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-RH"><img src="../../assets/images/rh/acces.png" />
                <h2>Resources H</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-init/Menu-local"><img src="../../assets/images/caisse/caisse.jpg" />
                <h2>Caisse</h2>
            </a>
        </div>
    </div>
</div>
 
 