<div *ngIf="true" style="height: 500px; width: 100%; display: flex; position: relative">
    <!-- section liste des commandes -->
    <div class="liste-commandes">
        <ul>
            <li class="list" *ngFor="let commande of data.mission; let i = index;" [attr.data-selected]="false"
                [class.active]="commandeActive[i]">
                <a role="button" (click)="changerCommandeActive(i); choisirCommande(commande)">
                    {{getTypeCommande(commande)}} {{commande.referenceDocument}}</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <!-- section ou les colis d'une commande selectionnée va etres affichée  -->
        <div class="container-colis">
            <h2>Colis</h2>
            <div class="info-commande" *ngIf="listeColis">
                <div class="poids">Poids commande: {{poidsCommandeSelectionne}}kg</div>
                <div class="volume">Volume commande: {{volumeCommandeSelectionne}}m³</div>
            </div>
            <div class="selectionner-tous" *ngIf="listeColis">
                <a role="button" (click)="selectionnerTouteLaCommande()"
                    [ngClass]="{'disabled': !commandePeutEtreTotalementAffectee}">
                    Séléctionner toute la commande
                </a>
            </div>
            <div class="liste-colis scrollbar">
                <ul>
                    <li class="list" *ngFor="let colis of listeColis">
                        <a role="button" style="display: flex;"
                            (click)="ajouterCommandeAuVehicule(colis);">{{colis.emballage}} <span
                                style="margin-left: auto; margin-right: 10px;">quantité {{colis.nombrePack}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- section pour interagir avec le vehicule -->
        <div class="container-vehicule">
            <!-- section d'ajout chauffeur pour vehicule -->
            <div class="chauffeur" *ngIf="this.vehiculesTot[indexVehiculeSelectionne]">
                <i class="fas fa-user"></i>
                <ng-container
                    *ngIf="this.indexPrive + (this.vehicules.length * (this.vehiculesTot[indexVehiculeSelectionne].numVoyage - 1)) < this.couplesVehiculeChauffeurPrive.length / this.data.nombreVoyages; else chauffeurDejaAffecte">
                    <mat-form-field *ngIf="typeVehicule === 'prive'">
                        <mat-label>Chauffeur</mat-label>
                        <mat-select placeholder="Chauffeur" name="chauffeur"
                            (selectionChange)="rafraichirListeChauffeur()"
                            [(ngModel)]="couplesVehiculeChauffeurPrive[indexPrive].chauffeur">
                            <mat-option *ngFor="let chauffeur of vehiculeChauffeurs.chauffeurs" [value]="chauffeur">
                                {{chauffeur.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-template #chauffeurDejaAffecte>
                    <div *ngIf="typeVehicule === 'prive'" style="display: flex; flex-direction: column;">
                        <div style="font-size: 0.8em;">Chauffeur</div>
                        <div>
                            {{couplesVehiculeChauffeurPrive[indexPrive].chauffeur.nom}}
                        </div>
                    </div>
                </ng-template>
                <mat-form-field *ngIf="typeVehicule === 'loue'">
                    <mat-label>Chauffeur</mat-label>
                    <input matInput placeholder="nom chauffeur"
                        [(ngModel)]="this.couplesVehiculeChauffeurLoue[this.indexLoue + (this.vehiculesLoues.length * (this.vehiculesTot[indexVehiculeSelectionne].numVoyage - 1))].chauffeur.nom">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <mat-form-field *ngIf="typeVehicule === 'loue'">
                    <mat-label>Téléphone</mat-label>
                    <input matInput placeholder="nom chauffeur"
                        [(ngModel)]="this.couplesVehiculeChauffeurLoue[this.indexLoue + (this.vehiculesLoues.length * (this.vehiculesTot[indexVehiculeSelectionne].numVoyage - 1))].chauffeur.tel">
                    <mat-icon matSuffix>phone_enabled</mat-icon>
                </mat-form-field>

            </div>
            <!-- section pour afficher le poids et le volume du vehicule -->
            <div class="info-vehicule"
                *ngIf="couplesVehiculeChauffeurPrive[indexPrive] || couplesVehiculeChauffeurLoue[indexLoue]">
                <div class="poids"><b>Charge vehicule: </b> {{poidsVehicule}}kg</div>
                <div class="volume"><b>Volume vehicule: </b> {{volumeVehicule}}m³</div>
            </div>
            <!-- liste des commandes affectées dans le vehicule -->
            <div class="commandes"
                *ngIf="couplesVehiculeChauffeurPrive[indexPrive] || couplesVehiculeChauffeurLoue[indexLoue]">
                <div class="entete">
                    <h2>Commandes</h2>
                    <div class="poids"><b>poids: </b>{{poidsCommandes}}kg</div>
                    <div class="volume"><b>volume: </b>{{volumeCommandes}}m³</div>
                </div>
                <div class="liste-commande scrollbar">
                    <ul>
                        <li class="list" *ngFor="let commande of listeCommandes">
                            <!-- liste des commandes -->
                            <div style="display: flex; align-items: center;" *ngIf="!commandeDansVehiculeSelectionne">
                                <a role="button"
                                    (click)="afficherListeColis(commande.commande); choisirCommande(commande.commande)">{{commande.commande.type}} {{commande.commande.referenceDocument}}</a>
                                <button mat-icon-button (click)="annulerAffectationCommande(commande)">
                                    <mat-icon style="color: tomato;">delete</mat-icon>
                                </button>
                            </div>
                            <!-- liste des colis dans une commande -->
                            <div class="colis scrollbar" [@statusDetailCommande]="statusDetailCommande"
                                *ngIf="commandeDansVehiculeSelectionne && commandeDansVehiculeSelectionne.id === commande.commande.id">
                                <div class="entete">
                                    <h3>{{commande.commande.type}} {{commande.commande.referenceDocument}}</h3>
                                    <mat-icon class="close" (click)="boutonFermerListeColis()">close</mat-icon>
                                </div>
                                <div class="contenue">
                                    <ul>
                                        <li class="list" *ngFor="let colis of commande.colis">
                                            <div>{{colis.emballage}}</div>
                                            <div class="qte">
                                                <button style="margin-left: auto;" (click)="augmenterQte(colis)">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                                <input type="number" [(ngModel)]="colis.nombrePack" min="1"
                                                    (keyup)="changerQteNonAffectee(colis)">
                                                <button (click)="diminuerQte(colis)">
                                                    <mat-icon>remove</mat-icon>
                                                </button>
                                                <button (click)="annulerAffectationColis(colis)">
                                                    <mat-icon style="color: tomato;">delete</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- liste vide est affichée quand on n'a pas de commande affectée -->
                    <div class="liste-vide" *ngIf="listeCommandes.length === 0">Vide</div>
                </div>
            </div>
        </div>
    </div>
    <div class="liste-vehicules">
        <!-- liste des vehicules -->
        <ul class="scrollbar">
            <li class="list" *ngFor="let vehicule of vehiculesTot; let i=index" [attr.data-selected]="false"
                [class.active]="vehiculeActive[i]">
                <a role="button"
                    (click)="changerVehiculeActive(i); choisirVehicule(i); boutonFermerListeColis()"><span>{{vehicule.matricule}}</span>
                    &nbsp; <div *ngIf="this.data.nombreVoyages > 1">(V{{vehicule.numVoyage}})</div></a>
            </li>
        </ul>
        <!-- bouton valider -->
        <div class="valider">
            <a role="button" [ngClass]="{'active': toutValide}"
                *ngIf="listeColisTot && couplesVehiculeChauffeurPrive && couplesVehiculeChauffeurLoue"
                (click)="valider()">Valider</a>
        </div>
    </div>
</div>