<!-- table liste colisage -->
<h2 *ngIf="this.listeColis">Liste colisage</h2>
<div>
    <table class="table table-bordered" *ngIf="this.listeColis">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Produit</th>
                <th scope="col">Pack</th>
                <th scope="col">Qte</th>
                <th scope="col">Nbr. Pack</th>
                <th scope="col">LxlxH (cm)</th>
                <th scope="col">Volume (m³)</th>
                <th scope="col">Poids net (kg)</th>
                <th scope="col">Poids brut (kg)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let colis of this.listeColis">
                <th scope="row">{{colis.idProduit}}</th>
                <td>{{colis.produit}}</td>
                <td>{{colis.emballage}}</td>
                <td>{{colis.quantite}}</td>
                <td>{{colis.nombrePack}}</td>
                <td>{{colis.dimensions}}</td>
                <td>{{colis.volume}}</td>
                <td>{{colis.poidsNet}}</td>
                <td>{{colis.poidsBrut}}</td>
            </tr>
            <!-- partie de la totalitée des poids, volume... -->
            <tr>
                <th scope="row" colspan="3"></th>
                <td>Total</td>
                <td>{{nombrePackTotal}}</td>
                <td></td>
                <td>{{volumeTotal}}</td>
                <td>{{poidsTotalNet}}</td>
                <td>{{poidsTotalBrut}}</td>
            </tr>
        </tbody>
    </table>
</div>