<h1 class="col-xs-8 text-center">Liste Bon Entrée Importation</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-3 mb-3">
    <select id="filtre_par" class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)'>
      <option value="">Filtrer par :</option>
      <option *ngFor="let champ of liste_champs_bon_Entree; let i=index;" [value]="champ">
        <span *ngIf="champ  == 'id_bon'">Id Bon Entreé </span>
        <span *ngIf="champ  == 'ag_transitaire'">Agence ag_transitaire</span>
        <span *ngIf="champ  == 'ag_transport'">Agence Transport</span>
        <span *ngIf="champ  == 'autre_charge_fixe'">Charge fixe</span>
        <span *ngIf="champ  == 'charge_assurance_importation'">Charge assurnece Importation</span>
        <span *ngIf="champ  == 'charge_banque'">Charge Banque</span>
        <span *ngIf="champ  == 'charge_magasin'">Charge Magasin</span>
        <span *ngIf="champ  == 'charge_transitaire'">Charge Transitaire</span>
        <span *ngIf="champ  == 'charge_transport'">Charge Transport</span>
        <span *ngIf="champ  == 'charge_transport_importation'">Charge Transport Importation</span>
        <span *ngIf="champ  == 'details'">details</span>
        <span *ngIf="champ  == 'cours'">cours</span>
        <span *ngIf="champ  == 'date_be'">Date Bon Entrée  </span>
        <span *ngIf="champ  == 'date_creation'">Date Création</span>
        <span *ngIf="champ  == 'date_facture'">Date Facture</span>
        <span *ngIf="champ  == 'date_livraison'">Date date_livraison</span>
        <span *ngIf="champ  == 'date_paiement'">Date Paiement</span>
        <span *ngIf="champ  == 'date_proforma'">Date Proforma</span>
        <span *ngIf="champ  == 'devise'">Date Proforma</span>
        <span *ngIf="champ  == 'fed'">fed</span>
        <span *ngIf="champ  == 'LC'">LC</span>
        <span *ngIf="champ  == 'mode_livraison'">Mode livraison</span>
        <span *ngIf="champ  == 'mode_paiement'">Mode Paiement</span>
        <span *ngIf="champ  == 'n_preforma'">N° Proforma</span>
        <span *ngIf="champ  == 'penalite'">Penalite</span>
        <span *ngIf="champ  == 'titre'">Titre</span>     
        <span *ngIf="champ  == 'description'">Description</span> 
        <span *ngIf="champ  == 'etat'">Etat</span>
        <span *ngIf="champ  == 'id_fr'">Id Fournisseur</span>
        <span *ngIf="champ  == 'id_responsable'">Id Responsable</span>
        <span *ngIf="champ  == 'local'">Local</span>
        <span *ngIf="champ  == 'mode_paiement'">Mode Paiement</span>
        <span *ngIf="champ  == 'n_facture'">N° Facture</span>
        <span *ngIf="champ  == 'total_fodec'">Total Fodec</span> 
        <span *ngIf="champ  == 'type'">Type</span>
      
      </option>
    </select>
  </div>
  <div class="col-md-3 mb-3">
    <div class=" input-icons ">
      <i class="fa fa-search icon" style="right: 0;" (click)="filtrerBonEntree()"></i>
      <input class="form-control my-0 py-1 red-border" type="text" placeholder="Rechercher.." name="recherche"
        (keyup)="$event.keyCode == 13 && filtrerBonEntree()" id="recherche" [(ngModel)]="recherche" value="">
    </div><br>
  </div>
</div>
<table class="mb-0 table" mat-table [dataSource]="bonEntreeLocals" matSort>
  <ng-container matColumnDef="modifier">
    <th mat-header-cell *matHeaderCellDef> </th>
    
    <td mat-cell *matCellDef="let element"> <i class="pe-7s-pen" title="Modifier Bon Entrée  "
        routerLink="/Menu/Menu-bon-entree-importation/Modifer-bon-entree-importation/{{element.id_Bon}}"></i> </td>
  </ng-container>
  <ng-container matColumnDef="id_Bon_Entree_Local">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Bon </th>
    <td mat-cell *matCellDef="let element;let i=index;" id="element.id_Bon_Entree_Local">
      {{element.id_Bon}} </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="n_Facture">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Facture </th>
    <td mat-cell *matCellDef="let element"> {{element.n_Facture}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date_Creation| date:'dd-MM-yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="id_Fr">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref FR </th>
    <td mat-cell *matCellDef="let element"> {{element.id_Fr}} </td>
  </ng-container>
  <ng-container matColumnDef="depot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Local </th>
    <td mat-cell *matCellDef="let element"> {{element.local}} </td>
  </ng-container>
  <ng-container matColumnDef="mode_Paiement">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode Paiement </th>
    <td mat-cell *matCellDef="let element"> {{element.mode_Paiement}} </td>
  </ng-container>
  <ng-container matColumnDef="ag_Transport">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ag Transport</th>
    <td mat-cell *matCellDef="let element"> {{element.ag_Transport}} </td>
  </ng-container>
  <ng-container matColumnDef="charge_Transport">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>charge Transport </th>
    <td mat-cell *matCellDef="let element"> {{element.charge_Transport}} </td>
  </ng-container>
  <ng-container matColumnDef="autre_Charge_Fixe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Autre Charge Fixe </th>
    <td mat-cell *matCellDef="let element"> {{element.autre_Charge_Fixe}} </td>
  </ng-container>
  <ng-container matColumnDef="des">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Note </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="supprimer">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> <i class="pe-7s-trash"
        (click)="SupprimerBonEntree(element.id_Bon)" title="Supprimer Bon Entrée Local"
        style="color: red;"></i> </td>
  </ng-container>
  <ng-container matColumnDef="Voir_pdf">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element;let i=index"> <i class="pe-7s-look"
        (click)='visualiserPDF(element.id_Bon,element.id_Fr,element.ag_Transport,element.charge_Transport,element.autre_Charge_Fixe,element.date_BEL,element.description,element.etat,element.id_Responsable,element.local,element.mode_Paiement,element.n_Facture,element.type)'
        title="Voir PDF" style="color: darkblue;"></i> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<div class="align-self-center mx-auto">