<div>
    <h5>Choisissez un devis : </h5>
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <select class="form-control" [ngModel]="champ" (change)="onChange($event)" required>
                    <option value="Sélectionnez votre option" disabled selected>Sélectionnez votre option</option>
                    <option *ngFor="let key of keyValues" value="{{key}}">{{key | uppercase}}</option>
                </select>
            </div>
            <div class="input-group col-md-4">
                <input class="form-control py-2" type="search" value="Rechercher ..." id="example-search-input"
                    [ngModel]="value" (keyup)="getValue($event); filterByChamp()">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="filterByChamp()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br>

    <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
    <div class="mat-elevation-z8">
        <table class="mb-0 table" mat-table matSort [dataSource]="dataSourceDevis">
            <ng-container matColumnDef="radio">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"><input type="radio" value="element" name="devis"
                        (change)="checkCheckBoxvalue($event,element)" /></td>
            </ng-container>
            <ng-container matColumnDef="id_Devis">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Devis </th>
                <td mat-cell *matCellDef="let element">{{element.id_Devis}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                <td mat-cell *matCellDef="let element">{{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="date_Creation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                <td mat-cell *matCellDef="let element">{{element.date_Creation | date: 'dd/MM/YYYY' }} </td>
            </ng-container>
            <ng-container matColumnDef="total_ttc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total TTC</th>
                <td mat-cell *matCellDef="let element"> {{element.total_TTC}}</td>
            </ng-container>
            <ng-container matColumnDef="Voir_pdf">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element;let i=index;"> <i class="pe-7s-look btn-b" title="Voir PDF"
                        (click)="viewPDF(element)"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <div class="row justify-content-around right">
            <button mat-raised-button class="next" [disabled]="dsiable"
                routerLink="../Generer-Devis-BL/{{id_Devis}}">Générer
            </button>
            &nbsp;&nbsp;
            <button mat-raised-button class="next" [disabled]="dsiable"
                routerLink="../Convertir-Devis-BL/{{id_Devis}}">Convertir

            </button>
        </div>
    </div>

</div>