<div *ngIf="tms >= 1">
   <!-- Bouton pour ajouter nouvelle vehicule -->
   <button mat-mini-fab color="primary" class="mt-1 mr-2 float-right"
      [routerLink]="['/Menu/TMS/Parc/Vehicules/Mes-Vehicules/ajouter-vehicule']" routerLinkActive="router-link-active"
      *ngIf="tms >= 2">
      <mat-icon>add</mat-icon>
   </button>
   <!-- fin Bouton pour ajouter nouvelle vehicule -->
   <div class="row">
      <!-- partie de modification carburant -->
      <form [formGroup]="form">
         <mat-form-field class="ml-3 custom-width">
            <mat-label>Carburant</mat-label>
            <mat-select formControlName="carb" name="carburant" id="carburant" [(value)]="carburant"
               (selectionChange)="selectionnerCarburant()" required>
               <mat-option *ngFor="let carb of carburants" [value]="carb">
                  {{carb.nom}}
               </mat-option>
               <mat-option>
                  <a (click)="ouvrirAjouterCarburant()" style="width: auto; display: block;" *ngIf="tms >= 2">+ Ajouter</a>
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field class="ml-3 custom-width">
            <mat-label>Prix Carburant</mat-label>
            <input matInput formControlName="prix" name="prix" id="prix" type="text">
            <mat-error *ngIf="form.controls['prix'].hasError('required')">
               Champ <strong>Obligatoire</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['prix'].hasError('pattern')">
               Seuls les <strong>chiffres</strong> sont autorisés
            </mat-error>
         </mat-form-field>
         <button mat-mini-fab color="primary" class="mb-2 ml-2" (click)="miseAJourCarburant()" [disabled]="form.invalid"
            *ngIf="tms >= 3">
            <i class="fas fa-gas-pump"></i>
         </button>
      </form>
      <!-- fin partie de modification carburant -->
   </div>
   <table class="mb-0 table" *ngIf="carburants">
      <thead>
         <tr>
            <th style="text-align:center">Vehicule</th>
            <th style="text-align:center">Categories Permis Accordées</th>
            <th style="text-align:center">Km Actuel</th>
            <th style="text-align:center">Prochain Entretien</th>
            <th style="text-align:center">Disponibilité</th>
            <th style="text-align:center"></th>

         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let vehicule of vehicules">
            <th scope="row" style="text-align:center">{{vehicule.matricule}}</th>
            <td style="text-align:center">
               <p class="mt-2" *ngIf="vehicule.categories === 'A/A1/B/B+E/C/C+E/D/D1/D+E/H';">DEUX ROUES</p>
               <p class="mt-2" *ngIf="vehicule.categories === 'B/B+E/C/C+E/D/D1/D+E/H';">VOITURES PARTICULIÈRES
               </p>
               <p class="mt-2" *ngIf="vehicule.categories === 'C/C+E';">POIDS LOURDS</p>
               <p class="mt-2" *ngIf="vehicule.categories === 'C+E';">POIDS LOURDS ARTICULÉS</p>
            </td>
            <td style="text-align:center">{{vehicule.kmactuel}}</td>
            <td style="text-align:center">{{calculerKilometrageProchainEntretien(vehicule)}}KM</td>
            <td style="text-align:center"
               [ngClass]="{'disponible': vehicule.etatVehicule === 'Disponible', 'enMission': vehicule.etatVehicule === 'En Mission'}">
               {{vehicule.etatVehicule}}</td>
            <td style="text-align:center;">
               <!-- bouton de notification -->
               <button class="mb-2  btn " (click)="ouvrirNotifications(vehicule.id)" *ngIf="tms >= 1">
                  <!-- Badge rouge de notification -->
                  <i class="fas fa-bell" matBadge="&#8288;" matBadgeColor="warn"
                     [matBadgeHidden]="afficherBadgeDeNotification(vehicule)"></i>
                  <!-- fin Badge rouge de notification -->
               </button>
               <!-- fin bouton de notification -->

               <!-- bouton de reclamation -->
               <button class="mb-2  btn " (click)="ouvrirReclamation(vehicule.id)" *ngIf="tms >= 1">
                  <i class="fas fa-exclamation-triangle"></i>
               </button>
               <!-- fin bouton de reclamation -->

               <!-- bouton de detail vehicule -->
               <button class="mb-2  btn " (click)="ouvrirDetailVehicule(vehicule.id)" *ngIf="tms >= 1">
                  <i class="fas fa-eye"></i>
               </button>
               <!-- fin bouton de detail vehicule -->

               <!-- bouton de mise a jour de vehicule -->
               <button class="mb-2  btn " (click)="ouvrirMiseAJourVehicule(vehicule.id)" *ngIf="tms >= 3">
                  <i class="fas fa-edit"></i>
               </button>
               <!-- fin bouton de mise a jour de vehicule -->

               <!-- bouton de mise a jour du consommation du vehicule -->
               <button class="mb-2  btn " (click)="ouvrirMiseAJourConsommation(vehicule.id)" *ngIf="tms >= 3">
                  <i class="fas fa-gas-pump"></i>
               </button>
               <!-- fin bouton de mise a jour du consommation du vehicule -->

               <!-- bouton de mise a jour du consommation du vehicule -->
               <button mat-icon-button class="mb-2  btn " (click)="ouvrirEntretien(vehicule)" *ngIf="tms >= 3">
                  <mat-icon>car_repair</mat-icon>
               </button>
               <!-- fin bouton de mise a jour du consommation du vehicule -->

               <!-- Bouton supprimer vehicule -->
               <button class="mb-2  btn " (click)="supprimerVehicule(vehicule.id)" *ngIf="tms >= 4">
                  <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
               </button>
               <!-- fin Bouton supprimer vehicule -->
            </td>


         </tr>

      </tbody>
   </table>
</div>