//changement style scroll bar
::-webkit-scrollbar {
  width: 2.5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.ajout-pack ::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}

.filtre {
  margin-right: 10px;
}
.mat-table {
  margin-top: 10px;
  max-height: 45vh;
  overflow-y: auto;
}
ul {
  //enlever les points de ul
  padding-top: 11%;
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0;
}

.mat-column-id,
.mat-column-nomProduit,
.mat-column-nomEmballage,
.mat-column-typeEmballage,
.mat-column-qte,
.mat-column-unite,
.mat-column-categorie {
  //width des colonne et centrer le text
  width: auto;
}

.table1 .mat-row .mat-cell {
  //lors du hover du premier tableau on change le curseur
  cursor: pointer;
}

.table1 .mat-row:hover {
  //lors du hover du ligne premier tableau on change le couleur du ligne vers le gris
  background-color: rgba($color: #000, $alpha: 0.04);
}

.demo-row-is-clicked {
  //lors du click en une ligne du premier tableau on change le couleur ver le gris
  font-weight: bold;
  background-color: rgba($color: #000, $alpha: 0.04);
}
.titre {
  font-weight: bold;
}
.input-inline {
  //aligner les inputs
  display: inline-block;
  width: 100%;
}
.premier-input {
  //width du premier input dans le div avec la classe input-inline
  width: 32%;
  margin-right: 2%;
}
.deuxieme-input {
  //width du deuxieme input dans le div avec la classe input-inline
  width: 32%;
  margin-right: 2%;
}
.troisieme-input {
  //width du troisieme input dans le div avec la classe input-inline
  width: 32%;
}
.troisieme-stepper-input {
  //width des inputs dans le troisieme step
  width: 49%;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

mat-radio-button {
  margin: 5px !important;
}

#input-codeBarre {
  display: flex;
  flex-direction: row;
}
#nomEmballage,
#typeEmballage {
  margin-top: 15px;
  width: 32%;
}
.barcode {
  outline: 1px solid;
}

//pour mobile
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  * {
    font-size: 12px;
  }
  .filtre {
    margin-right: 0;
  }
  .premier-input {
    width: 95%;
    margin-right: 0%;
  }
  .deuxieme-input {
    width: 95%;
    margin-right: 0%;
  }
  .troisieme-input {
    width: 95%;
  }
  .custom-width {
    width: 92%;
    margin: 0;
  }
  .mat-column-id {
    width: auto;
    text-align: center;
  }
  ul {
    padding-top: 0%;
    text-align: right;
    padding-inline-start: 0;
  }
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    min-height: auto;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: auto;
    margin-bottom: 4%;
    padding-right: 5%;
    padding-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 5%;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    padding-top: 4%;
  }
  .mat-table .mat-cell:last-of-type {
    padding-right: 5%;
  }
  .mat-table .mat-cell:first-of-type {
    padding-left: 0;
  }
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-header-row {
    min-height: 0;
  }
  .table1 .mat-row:hover .mat-cell {
    background-color: rgba($color: #000, $alpha: 0);
  }
  .mat-button,
  .mat-raised-button {
    font-size: 12px;
    min-width: 0;
    padding: 0 5px;
  }
  .mat-raised-button {
    line-height: 25px;
  }

  ::ng-deep .mat-icon-button {
    ////diminuer taille bouton icons paginator
    width: 10% !important;
    max-width: 40px;
  }

  ::ng-deep .mat-paginator-icon {
    //diminuer taille icons paginator
    width: 100% !important;
    max-width: 40px;
  }

  #input-codeBarre {
    display: flex;
    flex-direction: column;
  }

  #nomEmballage,
  #typeEmballage {
    margin-top: 10px;
    width: 100%;
  }
}
