<h1 class="col-xs-8 text-center">Liste Bon Entrée Local</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-3 mb-3">
    <select id="filtre_par" class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)'>
      <option value="">Filtrer par :</option>
      <option *ngFor="let champ of liste_champs_bon_Entree_Local; let i=index;" [value]="champ">
        <span *ngIf="champ  == 'id_bon_entree_local'">Id Bon Entreé Local</span>
        <span *ngIf="champ  == 'ag_transport'">Agence Transport</span>
        <span *ngIf="champ  == 'autre_charge_fixe'">Autre Charge Fixe</span>
        <span *ngIf="champ  == 'charge_transport'">Charge Transport</span>
        <span *ngIf="champ  == 'date_bel'">Date Bon Entrée Local</span>
        <span *ngIf="champ  == 'date_creation'">Date Création</span>
        <span *ngIf="champ  == 'description'">Description</span>
        <span *ngIf="champ  == 'details'">Détails</span>
        <span *ngIf="champ  == 'etat'">Etat</span>
        <span *ngIf="champ  == 'id_fr'">Id Fournisseur</span>
        <span *ngIf="champ  == 'id_responsable'">Id Responsable</span>
        <span *ngIf="champ  == 'local'">Local</span>
        <span *ngIf="champ  == 'mode_paiement'">Mode Paiement</span>
        <span *ngIf="champ  == 'n_facture'">N° Facture</span>
        <span *ngIf="champ  == 'total_fodec'">Total Fodec</span>
        <span *ngIf="champ  == 'total_ht_brut'">Total H.T Brut</span>
        <span *ngIf="champ  == 'total_ht_net'">Total H.T Net</span>
        <span *ngIf="champ  == 'total_r_ht'">Total R.H.T</span>
        <span *ngIf="champ  == 'total_r_ttc'">Total R.T.T.C</span>
        <span *ngIf="champ  == 'total_remise'">Total Remise</span>
        <span *ngIf="champ  == 'total_ttc'">Total T.T.C</span>
        <span *ngIf="champ  == 'total_tva'">Total TVA</span>
        <span *ngIf="champ  == 'type'">Type</span>
        <span *ngIf="champ  == 'type_detail'">Type Détail</span>
      </option>
    </select>
  </div>
  <div class="col-md-3 mb-3">
    <div class=" input-icons ">
      <i class="fa fa-search icon" style="right: 0;" (click)="filtrerBonEntreeLocal()"></i>
      <input class="form-control my-0 py-1 red-border" type="text" placeholder="Rechercher.." name="recherche"
        (keyup)="$event.keyCode == 13 && filtrerBonEntreeLocal()" id="recherche" [(ngModel)]="recherche" value="">
    </div><br>
  </div>
</div>

 
 
 

<div class="position-relative custom-control">
  <section>
    <mat-form-field class="custom-width" [formGroup]="form">
      <mat-label>ID</mat-label>
      <input matInput placeholder="ID" formControlName="id_Bon_Entree_Local" (keyup)="filtre()"
        id="id_Bon_Entree_Local">
      <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
    </mat-form-field>
    <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
      <mat-label>Type</mat-label>
      <input matInput placeholder="type" formControlName="type" (keyup)="filtre()" id="type">
      <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
    </mat-form-field>
    <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
      <mat-label>N_Facture</mat-label>
      <input matInput placeholder="n_Facture" formControlName="n_Facture" (keyup)="filtre()" id="n_Facture">
      <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
    </mat-form-field>
    <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
      <mat-label>Etat</mat-label>
      <input matInput placeholder="etat" formControlName="etat" (keyup)="filtre()" id="etat">
      <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
    </mat-form-field>
    <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
      <mat-label>local</mat-label>
      <input matInput placeholder="local" formControlName="local" (keyup)="filtre()" id="local">
      <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
    </mat-form-field>
   
    
  </section>
</div>

<table class="mb-0 table" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="modifier">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"> <i class="pe-7s-pen" title="Modifier Bon Entrée Local "
        routerLink="/Menu/Menu-achat/Menu-bon-entree/Modifier-bon-entree/{{element.id_Bon_Entree_Local}}"></i>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id_Bon_Entree_Local">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id Bon </mat-header-cell>
    <mat-cell *matCellDef="let element;let i=index;" id="element.id_Bon_Entree_Local">
      {{element.id_Bon_Entree_Local}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="n_Facture">
    <mat-header-cell *matHeaderCellDef mat-sort-header>N° Facture </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.n_Facture}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date_BEL| date:'dd-MM-yyyy'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Local">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Local </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.local}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ag_Transport">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ag Transport </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ag_Transport}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="des">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Note </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="supprimer">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"> <i class="pe-7s-trash"
        (click)="SupprimerBonEntreeLocal(element.id_Bon_Entree_Local)" title="Supprimer Bon Entrée Local"
        style="color: red;"></i></mat-cell>
  </ng-container>
  <ng-container matColumnDef="Voir_pdf">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element;let i=index"> <i class="pe-7s-look"
        (click)='visualiserPDF(element.id_Bon_Entree_Local )'
        title="Voir PDF" style="color: darkblue;"></i> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<div class="align-self-center mx-auto">