<h1 class="col-xs-8 text-center">Modifier Facture N° {{facture_ID}}</h1>
<br>
<div class="col-xs-8 text-center">
    <div class="spinner-border" role="status" *ngIf="!loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<mat-vertical-stepper linear #stepperUpdateFacture *ngIf="loading">
    <ng-template matStepLabel>Informations Générales</ng-template>
    <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
            <ng-template matStepLabel>Informations Générales</ng-template>
            <div class="row">
                <!-- Mode paiement -->
                <div class="col-md-4 mb-3">
                    <mat-form-field>
                        <mat-label>Mode paiement</mat-label>
                        <mat-select formControlName="modePaiement" [(ngModel)]="modePaiement" required>
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="infoFormGroup.get('modePaiement').invalid">
                            {{ErrorMessage('modePaiement') + 'Mode paiement!'}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- select Currency  -->
                <div class="col-md-4 mb-3">
                    <mat-form-field>
                        <mat-label>Devise</mat-label>
                        <mat-select formControlName="devise" [(ngModel)]="devise" required>
                            <mat-option [value]="c" *ngFor="let c of currency">{{c}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="infoFormGroup.get('devise').invalid">
                            {{ErrorMessage('devise') + 'le devise!'}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Locale -->
                <div class="col-md-4 mb-3">
                    <mat-form-field>
                        <mat-label>Local</mat-label>
                        <mat-select formControlName="local" [(ngModel)]="local.id_Local" required>
                            <mat-option *ngFor="let l of locals" [value]="l.id_Local">{{l.nom_Local}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="infoFormGroup.get('local').invalid">
                            {{ErrorMessage('local') + 'le local!'}}</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <!-- +++++++++++++++++++++++++++++++++ -->
            <div class="row">
                <!-- select Custemer  -->
                <div class="col-md-4 mb-3" *ngIf="loading">
                    <mat-form-field>
                        <mat-label>Client(e)</mat-label>
                        <mat-select formControlName="custemerName" required [(ngModel)]="custemerName.id_Clt"
                            (ngModelChange)="getClientId($event)">
                            <mat-option *ngFor="let c of clients" [value]="c.id_Clt">{{c.nom_Client}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="infoFormGroup.get('custemerName').invalid">
                            {{ErrorMessage('custemerName') + 'le nom de le clinet(e)!'}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Main/Invoicing address -->
                <div class="col-md-4 mb-3" *ngIf="loading">
                    <mat-form-field>
                        <mat-label>Adresse principale/de facturation</mat-label>
                        <input matInput placeholder="Adresse principale/de facturation" formControlName="adresse"
                            [ngModel]="custemerName.adresse" required>
                        <mat-error *ngIf="infoFormGroup.get('adresse').invalid">
                            {{ErrorMessage('adresse') + 'de l\'adresse!'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br><br>
            <div>
                <button mat-button matStepperNext class="btn btn-primary">Suivant</button>
            </div>
        </form>
    </mat-step>
    <!-- Second step -->
    <mat-step [stepControl]="addArticleFormGroup" [completed]="isNull">
        <ng-template matStepLabel>Ajouter Article(s)</ng-template>
        <form>
            <br>
            <div class="row right">
                <div><button mat-raised-button class="add-article" (click)="openDialog()"><i class="fas fa-plus"></i>
                        Ajouter
                        Article</button></div>
            </div>
            <br>
            <div class="row">
                <br>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Ajouter un code à bare</mat-label>
                        <input matInput placeholder="Saisir le code à bare de l'article" [(ngModel)]="code"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <button mat-raised-button class="search" (click)="getProuduitByCode()" [disabled]="getProdCode"><i
                            class="fas fa-barcode"></i></button>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Code Article</mat-label>
                        <input matInput placeholder="Saisir l' ID de l'article" id="id" name="id" [(ngModel)]="id"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <button mat-raised-button class="search" (click)="getProuduitById()" [disabled]="getProdId"><i
                            class="fas fa-search"></i></button>
                </div>
            </div>
            <br>
            <!-- List Article -->
            <div class="row mat-elevation-z8">
                <!-- Lignes d'article  -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id produit</th>
                            <th>Nom produit</th>
                            <th>Qte</th>
                            <th>Prix U HT</th>
                            <th>TVA(%)</th>
                            <th>Remise(%)</th>
                            <th>Fodec(%)</th>
                            <th>Total TTC</th>
                            <th>Disponibilité</th>
                            <th>Voir plus</th>
                            <th>Supprimer</th>
                            <th>Compléter les infos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of factureProds ; let i = index;">
                            <td>
                                <i class="pe-7s-pen pe-7s-trash" (click)="ouvreDialogueArticle(i,item,factureProds)"
                                    title="Modifier article"></i>
                            </td>
                            <td>
                                <input [ngModel]="item.id_Produit" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.id_Produit}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.nom_Produit" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.nom_Produit}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.quantite" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.quantite}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.prixU" [ngModelOptions]="{standalone: true}" class="form-control"
                                    type="text" name="{{item.prixU}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.tva" [ngModelOptions]="{standalone: true}" class="form-control"
                                    type="text" name="{{item.tva}}" size="1" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.remise" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.remise}}" disabled />
                            </td>
                            <td>
                                <input [ngModel]="item.fodec" [ngModelOptions]="{standalone: true}" class="form-control"
                                    type="text" name="{{item.fodec}}" disabled size="1" />
                            </td>
                            <td>
                                <input [ngModel]="item.totale_TTC" [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text" name="{{item.totale_TTC}}" disabled />
                            </td>
                            <td>
                                <i title="Etat">{{item.etat}}</i>
                            </td>
                            <td> <i class="pe-7s-look btn-b" title="Voir plus" (click)="viewPlus(item)"></i>
                            </td>
                            <td>
                                <i class="pe-7s-trash" (click)="deleteItemValue(i)" title="Supprimer article"></i>
                            </td>
                            <td>
                                <button mat-raised-button class="add-article "
                                    (click)="completezInof(item, i ,factureProds)">
                                    Complétez les informations </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <hr>
            <div>
                <div class="row total">
                    <div *ngIf="totalHT">
                        <table class="total-devis">
                            <tr>
                                <th>Total H.T Brut :</th>
                                <td> {{totalHTBrut}} </td>
                            </tr>
                            <tr>
                                <th>Total Remise :</th>
                                <td> {{remiseDiff}} </td>
                            </tr>
                            <tr>
                                <th>Total H.T Net :</th>
                                <td> {{totalHT}} </td>
                            </tr>
                            <tr>
                                <th>Total Fodec :</th>
                                <td> {{totalMontantFodec}} </td>
                            </tr>
                            <tr>
                                <th>Total TVA :</th>
                                <td>{{totalMontantTVA}} </td>
                            </tr>
                            <tr>
                                <th>Total T.T.C : </th>
                                <td style="color: brown;">{{totalTTc}} </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table class="total-tva">
                            <tr>
                                <th>T.V.A(%)</th>
                            </tr>
                            <tr *ngIf="assiettetva19">
                                <th>Assiette 19% : &nbsp;</th>
                                <td>{{assiette19}} </td>
                            </tr>
                            <tr *ngIf="montanttva19">
                                <th>Montant 19% : &nbsp;</th>
                                <td>{{montant19}}</td>
                            </tr>
                            <tr *ngIf="assiettetva13">
                                <th>Assiette 13% : &nbsp;</th>
                                <td>{{assiette13}} </td>
                            </tr>
                            <tr *ngIf="montanttva13">
                                <th>Montant 13% :&nbsp; </th>
                                <td>{{montant13}}</td>
                            </tr>
                            <tr *ngIf="assiettetva7">
                                <th>Assiette 7% : &nbsp;</th>
                                <td>{{assiette7}} </td>
                            </tr>
                            <tr *ngIf="montanttva7">
                                <th>Montant 7% :&nbsp; </th>
                                <td>{{montant7}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr><br>
                <button mat-button matStepperPrevious class="btn ">Retour</button>
                <button mat-button class="btn btn-primary" (click)="nextStep(stepperUpdateFacture)">Suivant</button>
            </div>
        </form>
    </mat-step>
    <!-- Therd Step -->
    <mat-step [stepControl]="addReglementFormGroup" [completed]="isCompleted">
        <ng-template matStepLabel>Modalité du paiement</ng-template>
        <form [formGroup]="addReglementFormGroup">
            <br>
            <br>
            <!--Total à payer  -->
            <div class="row">
                <div class="col-md-6">
                    <label style="color: brown;"> <b>Total à payer: (+ {{Droit_timbre}} TND):</b> <b>
                            {{total_Retenues}}</b>
                    </label>
                </div>
            </div>
            <!-- Total TTC  -->
            <div class="row">
                <div class="col-md-2">
                    <label> <b>Total TTC :</b> <span> {{totalTTc_}}</span> </label>
                </div>
            </div>
            <!-- first reg -->
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-select formControlName="typeRegOne" [(ngModel)]="modePaiement" [disabled]=true>
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <input type="number" matInput formControlName="valueOne"
                            (ngModelChange)="getvalueModePaiement($event)" [(ngModel)]="totalTTc_reg" />
                    </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="visibel">
                    <a class="add-reglement" (click)='addReglement()'> <i class="fas fa-plus"></i></a>
                </div>
            </div>
            <!-- second reg -->
            <div class="row" *ngIf="id_modeP_typeTwo">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Type de Règlement</mat-label>
                        <mat-select formControlName="typeRegTwo" [(ngModel)]="id_modeP_typeTwo">
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <input type="number" matInput formControlName="valueTwo"
                            (ngModelChange)="getvalueModePaiementTwo($event)" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <a class="delete-reglement" (click)="deleteReglement('1')"> <i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <!-- therd reg -->
            <div class="row" *ngIf="id_modeP_typeTree">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Type de Règlement</mat-label>
                        <mat-select formControlName="typeRegTree">
                            <mat-option *ngFor="let mp of modepaiement" [value]="mp.id">{{mp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <input type="number" matInput formControlName="valueTree" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <a class="delete-reglement" (click)="deleteReglement('2')"> <i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <mat-form-field class="full-width">
                <mat-label>Note</mat-label>
                <textarea matInput placeholder="Note" type="text" class="form-control" formControlName="note"
                    [(ngModel)]=note></textarea>
            </mat-form-field>
            <br>
            <br>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button class="btn btn-primary"
                    (click)="checkTotalTTC(stepperUpdateFacture)">Suivant</button>
            </div>
        </form>
    </mat-step>
    <!-- Last step -->
    <mat-step label="Enregistrer & imprimer le BL">
        <form>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <button mat-raised-button class="add-article" (click)="updateFacture()"> <i
                            class="fas fa-file-pdf"></i>
                        Enregistrer</button>
                </div>
            </div>
            <br>
            <br>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>