<div *ngIf="tms >= 1">
    <div class="menu-parc">
        <div class="inline">
            <a routerLink="/Menu/TMS/Parc/Menu"><img src="./../../../assets/images/tms/menu-tms/parc-de-transport.jpg" />
                <h2 style="text-transform: uppercase;">Parc de transport</h2>
            </a>

        </div>


        <div class="inline">
            <a routerLink="/Menu/TMS/plan-chargement"><img src="./../../../assets/images/tms/menu-tms/trajet-et-plan-chargement.jpg" />
                <h2 style="text-transform: uppercase;">Plan de chargement</h2>
            </a>
        </div>


        <div class="inline">
            <a routerLink="#"><img src="./../../../assets/images/tms/menu-tms/suivi-de-commande.jpg" />
                <h2 style="text-transform: uppercase;">Suivi des commandes</h2>
            </a>

        </div>

    </div>
</div>