.title {
    margin: 10px;
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
  }
  .add-bl {
    background-color: #3f6ad8;
    color: white;
    text-align: center;
    justify-self: center;
  }
  .mat-card-actions {
    text-align: center;
  }
  