 
<div>
    <div class="menu">
        <div class="inline">
            <a routerLink="/Menu/Menu-vente/Menu-Devis"><img src="./../../assets/images/vente/devis.png" />
                <h2>Devis</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-achat/Menu-bon-entree-importation"><img src="./../../assets/images/vente/bl.png" />
                <h2>Bon Livraison</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-vente/Menu-facture"><img src="./../../assets/images/vente/facture.png" />
                <h2>Facture</h2>
            </a>
        </div>
    </div>
</div>