// on fixe un height max pour eviter le scroll bar au niveau du page 
// le scroll bar va apparaitre au niveau du tablea
.mat-table {
  max-height: 45vh;
  overflow-y: auto;
}
// media query pour l'affichage mobile
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  // style des boutons
  button {
    width: 50px;
  }
  // dans l'affichage mobile on elimine le height max 
  .mat-table {
    max-height: none;
    overflow-y: auto;
  }

  // pour l'affichage mobile on force le tableau a ne pas comporter comme un tableau mais comme des blocks
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    min-height: auto;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: auto;
    margin-bottom: 4%;
    padding-right: 5%;
    padding-bottom: 4%;
  }
  // lorsqu'on a changé la nature du tableau, on cache les headers car on ne peut pas les controller comme les cells c'est pourquoi on ajoute des labels avant chaque donnée
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 5%;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-table .mat-cell:last-of-type {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 40px;
  }

  // style des icons et des boutons dans le tableau
  .mat-icon,
  .mat-button {
    transform: scale(1.1);
  }
  .mat-table .mat-cell:first-of-type {
    padding-left: 0;
  }

  // cacher les headers
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-header-row {
    min-height: 0;
  }
}
