 
  
<div>
   <div class="menu">
       <div class="inline">
           <a routerLink="/Menu/Menu-RH/Menu-employee"><img src="./../../assets/images/rh/acces.png" />
               <h2> Employees </h2>
           </a>

       </div>


       <div class="inline">
           <a routerLink="/Menu/Menu-RH/Menu-conge"><img src="./../../assets/images/rh/congee.png" />
               <h2>Congee</h2>
           </a>
       </div>


       <div class="inline">
           <a routerLink="/Menu/Menu-RH/Menu-bulletin-paie"><img src="./../../assets/images/rh/bull.jpg" />
               <h2>Bulletin paie</h2>
           </a>

       </div>

   </div>
</div>