 
<mat-vertical-stepper [linear]="isLinear" #stepperProduit>
    <mat-step [stepControl]="Informations_Generales_Form">

        <form [formGroup]="Informations_Generales_Form">

            <ng-template matStepLabel>Informations Générales</ng-template>
            <div class='table'>
                <div class="row1">
                    <div class='cell'>
                        <div class="col-md-3 mb-3">
                            <mat-checkbox matInput formControlName="industriel" color="primary" id="industriel"
                                name="industriel" [(ngModel)]="industriel">Industriel
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class='cell1'>
                        <div class="col-md-3 mb-3">

                            <mat-checkbox matInput formControlName="Produit_Serie" color="primary" id="Produit_Serie"
                                name="Produit_Serie" [(ngModel)]="Produit_Serie"> Produit serie
                            </mat-checkbox>
                        </div>

                    </div>
                    <div class='cell1'>

                        <div class="col-md-3 mb-3">

                            <mat-checkbox matInput formControlName="G4" color="primary" id="G4" name="G4"
                                [(ngModel)]="G4"> 4G
                            </mat-checkbox>
                        </div>

                    </div>
                    <div class='cell'>
                        <div class="col-md-3 mb-3">
                            <mat-checkbox matInput formControlName="Temperature" color="primary" id="Temperature"
                                name="Temperature" [(ngModel)]="Temperature">Temperature
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class='cell'>
                        <div class="col-md-3 mb-3">
                            <mat-checkbox matInput formControlName="Produit_frais" color="primary" id="Produit_frais"
                                name="Produit_frais" [(ngModel)]="Produit_frais">Produit frais
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Nom_Produit"> Nom du Produit </mat-label>
                        <input type="text" matInput formControlName="Nom_Produit" id="Nom_Produit" name="Nom_Produit"
                            required>
                        <mat-error *ngIf="Informations_Generales_Form.get('Nom_Produit').invalid">
                            {{MessageErreurNomProduit()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Marque"> Marque </mat-label>
                        <input type="text" matInput formControlName="Marque" id="Nom_Marque" name="Marque">
                        <mat-error *ngIf="Informations_Generales_Form.get('Marque').invalid">
                            {{MessageErreurMarque()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Ngp"> Ngp </mat-label>
                        <mat-select formControlName="Ngp" id="Ngp" name="Ngp" placeholder="Ngp">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let ngp of categorie_ngp" [value]="ngp.nom">{{ngp.valeur}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Tva"> Tva </mat-label>

                        <mat-select formControlName="Tva" id="Tva" name="Tva" placeholder="Tva">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let tva of categorie_tva" [value]="tva.valeur">{{tva.valeur}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="Informations_Generales_Form.get('Tva').invalid">
                            {{MessageErreurTva()}}</mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Type1"> Type du produit </mat-label>
                        <mat-select formControlName="Type1" id="Type1" name="Type1" placeholder="Type 1"
                            (selectionChange)="ChoixType1($event)">
                          
                            <mat-option *ngFor="let type of categorie_type1" [value]="type.nom">{{type.nom}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Type2"> Sous type du produit </mat-label>
                        <mat-select formControlName="Type2" id="Type2" name="Type2" placeholder="Type 2"
                            (selectionChange)="ChoixType2($event)">
                           
                            <mat-option *ngFor="let type of categorie_type2" [value]="type.nom">{{type.nom}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Famille"> Famille du produit </mat-label>
                        <mat-select formControlName="Famille" id="Famille" name="Famille" placeholder="Famille"
                            (selectionChange)="ChoixType3($event)">
                          
                            <mat-option *ngFor="let type of categorie_famille" [value]="type.nom">{{type.nom}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Sous_Famille"> Sous Famille du produit </mat-label>
                        <mat-select formControlName="Sous_Famille" id="Sous_Famille" name="Sous_Famille"
                            placeholder="Sous_Famille">
                          
                            <mat-option *ngFor="let type of categorie_sous_famille" [value]="type.nom">{{type.nom}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
            <div class="row">

                <mat-form-field class="full-width">

                    <mat-label for="Caracteristique_Technique"> Caracteristiques Techniques </mat-label>
                    <input type="text" matInput formControlName="Caracteristique_Technique"
                        id="Caracteristique_Technique" name="Caracteristique_Technique">

                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext class="btn-primary" style="margin-top: 20px;">Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="Specifications_Form">
        <form [formGroup]="Specifications_Form">

            <ng-template matStepLabel>Specifications</ng-template>
            <div class="row">
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Unite"> Unité </mat-label>
                        <mat-select formControlName="Unite" id="Unite" name="Unite" placeholder="Unité">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let unite of categorie_unite" [value]="unite.nom">{{unite.nom}}
                            </mat-option>
                        </mat-select>


                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Valeur_Unite"> Valeur Unite </mat-label>
                        <input type="text" matInput formControlName="Valeur_Unite" id="Valeur_Unite"
                            name="Valeur_Unite">

                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Pays"> Pays </mat-label>

                        <mat-select formControlName="Pays" id="Pays" name="Pays" placeholder="Pays"
                            (selectionChange)="ChoixPays($event)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let pays of categorie_pays" [value]="pays.nom">{{pays.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Ville"> Ville </mat-label>

                        <mat-select formControlName="Ville" id="Ville" name="Ville" placeholder="Ville"
                            (selectionChange)="ChoixVille($event)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let ville of categorie_ville" [value]="ville.nom">{{ville.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div *ngIf="Produit_frais" class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Region"> Region </mat-label>

                        <mat-select formControlName="Region" id="Region" name="Region" placeholder="Region">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let region of categorie_region" [value]="region.nom">{{region.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Fodec"> Fodec </mat-label>
                        <mat-select formControlName="Fodec" id="Fodec" name="Fodec" placeholder="Fodec">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let fodec of categorie_fodec" [value]="fodec.nom">{{fodec.nom}}
                            </mat-option>
                        </mat-select>


                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Source"> Source</mat-label>
                        <input type="text" matInput formControlName="Source" id="Source" name="Source">

                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>

                        <mat-label for="Code_Barre"> Code à Barre</mat-label>
                        <input type="text" matInput formControlName="Code_Barre" id="Code_Barre" name="Code_Barre">

                    </mat-form-field>
                </div>
                <div *ngIf="Produit_frais" class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Saison"> Saison </mat-label>

                        <mat-select formControlName="Saison" id="Saison" name="Saison">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let saison of categorie_saison" [value]="saison">{{saison}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Role"> Role </mat-label>

                        <input type="text" matInput formControlName="Role" id="Role" name="Role">
                    </mat-form-field>

                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Couleur"> Couleur </mat-label>

                        <input type="text" matInput formControlName="Couleur" id="Couleur" name="Couleur">
                    </mat-form-field>

                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field>

                        <mat-label for="Taille"> Taille </mat-label>

                        <input type="text" matInput formControlName="Taille" id="Taille" name="Taille">
                    </mat-form-field>

                </div>
                <div *ngIf="G4" class="col-md-3 mb-3">

                    <mat-checkbox matInput formControlName="N_Imei" color="primary" id="N_Imei" name="N_Imei"
                        [(ngModel)]="N_Imei_Cocher" [disabled]="disabled" style="margin-top:10px">
                    </mat-checkbox>
                    <mat-label for="N_Imei"> Numéro Imei </mat-label>

                </div>
                <div *ngIf="G4" class="col-md-3 mb-3">

                    <mat-checkbox matInput formControlName="N_Imei2" color="primary" id="N_Imei2" name="N_Imei2"
                        [(ngModel)]="N_Imei2_Cocher" style="margin-top:10px">
                    </mat-checkbox>
                    <mat-label for="N_Imei2"> 2ème numéro Imei </mat-label>

                </div>
                <div *ngIf="G4||Produit_Serie" class="col-md-3 mb-3">

                    <mat-checkbox matInput formControlName="N_Serie" color="primary" id="N_Serie" name="N_Serie"
                        [(ngModel)]="N_Serie_Cocher" [disabled]="disabled" style="margin-top:10px">
                    </mat-checkbox>
                    <mat-label for="N_Serie"> Numéro de serie </mat-label>

                </div>
                <div *ngIf="industriel" class="col-md-3 mb-3">

                    <mat-checkbox matInput formControlName="N_Lot" color="primary" id="N_Lot" name="N_Lot"
                        [(ngModel)]="N_Lot_Cocher" [disabled]="disabled" style="margin-top:10px">
                    </mat-checkbox>
                    <mat-label for="N_Lot"> Numéro du lot </mat-label>

                </div>
                <div *ngIf="industriel||Produit_frais" class="col-md-3 mb-3">


                    <mat-checkbox matInput formControlName="Date_Fabrication" color="primary" id="Date_Fabrication"
                        [(ngModel)]="Date_Fabrication_Cocher" name="Date_Fabrication" style="margin-top:10px">
                    </mat-checkbox>
                    <mat-label for="Date_Fabrication"> Date Fabrication </mat-label>

                </div>
                <div *ngIf="industriel||Produit_frais" class="col-md-3 mb-3">

                    <mat-checkbox matInput formControlName="Date_Validite" color="primary" id="Date_Validite"
                        [(ngModel)]="Date_Validite_Cocher" name="Date_Validite" style="margin-top:10px">
                    </mat-checkbox>
                    <mat-label for="Date_Validite"> Date Validité </mat-label>
                </div>
                <div *ngIf="Temperature||Produit_frais" class="col-md-3 mb-3">
                    <mat-form-field>
                        <mat-label for="Temperature_Max"> Temperature Max </mat-label>
                        <input type="number" matInput formControlName="Temperature_Max" id="Temperature_Max"
                            name="Temperature_Max">
                    </mat-form-field>
                </div>
                <div *ngIf="Temperature||Produit_frais" class="col-md-3 mb-3">
                    <mat-form-field>
                        <mat-label for="Temperature_Min"> Temperature Min </mat-label>
                        <input type="number" matInput formControlName="Temperature_Min" id="Temperature_Min"
                            name="Temperature_Min">
                    </mat-form-field>
                </div>

                <div class="col-md-3 mb-3">

                    <mat-form-field>
                        <mat-label for="Image"> Image du produit </mat-label>

                        <ngx-mat-file-input matInput id="Image" name="Image" formControlName="Image"
                        (change)="choixImage()"   placeholder="Selectionner image" accept="image/png, image/jpeg">


                        </ngx-mat-file-input>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">

                    <mat-form-field>
                        <mat-label for="Certificat"> Certificat du produit </mat-label>

                        <ngx-mat-file-input matInput id="Certificat" name="Certificat" formControlName="Certificat"
                            placeholder="Selectionner Certificat" [accept]="'.pdf'">

                        </ngx-mat-file-input>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">


                <mat-form-field  class="full-width"> 
                    <mat-label for="Rfid"> Rfid du produit </mat-label>
                    <textarea matInput placeholder="Rfid" id="Rfid" name="Rfid" formControlName="Rfid">
                     </textarea>

                </mat-form-field>

            </div>
            <div>
                <button mat-button matStepperPrevious class="btn-primary"
                    style="margin-top: 20px; margin-right: 20px;">Retour</button>
                <button mat-button matStepperNext class="btn-primary">Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="Recapitulation_Form">
        <form [formGroup]="Recapitulation_Form">

            <ng-template matStepLabel>Récapitulation</ng-template>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="Nom_Produit"> Nom du produit :
                    </label> {{Informations_Generales_Form.get('Nom_Produit').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Marque"> Marque du produit :
                    </label> {{Informations_Generales_Form.get('Marque').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Unite"> Unité du mesure de produit :
                    </label> {{Specifications_Form.get('Unite').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Valeur_Unite"> Valeur d'unité du produit :
                    </label> {{Specifications_Form.get('Valeur_Unite').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Type1"> Type du produit :
                    </label> {{Informations_Generales_Form.get('Type1').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Type2"> Sous-Type du produit :
                    </label> {{Informations_Generales_Form.get('Type2').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Famille"> Famille du produit :
                    </label> {{Informations_Generales_Form.get('Famille').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Sous_Famille"> Sous-Famille du produit :
                    </label> {{Informations_Generales_Form.get('Sous_Famille').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Code_Barre"> Code à barre du produit :
                    </label> {{Specifications_Form.get('Code_Barre').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Ngp"> Ngp :
                    </label> {{Informations_Generales_Form.get('Ngp').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Fodec"> Fodec du produit :
                    </label> {{Specifications_Form.get('Fodec').value}}
                </div>
                <div * class="col-md-3 mb-3">
                    <label for="Tva"> Tva du produit :
                    </label> {{Informations_Generales_Form.get('Tva').value}}
                </div>

                <div class="col-md-3 mb-3">
                    <label for="Pays"> Pays du produit :
                    </label> {{Specifications_Form.get('Pays').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Ville"> Ville du produit :
                    </label> {{Specifications_Form.get('Ville').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Region"> Région du produit :
                    </label> {{Specifications_Form.get('Region').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Source"> Source du produit :
                    </label> {{Specifications_Form.get('Source').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Saison"> Saison du produit :
                    </label> {{Specifications_Form.get('Saison').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Role"> Role du produit :
                    </label> {{Specifications_Form.get('Role').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Couleur"> Couleur du produit :
                    </label> {{Specifications_Form.get('Couleur').value}}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Taille"> Taille du produit :
                    </label> {{Specifications_Form.get('Taille').value}}
                </div>
              
                <div *ngIf="Specifications_Form.get('Temperature_Max').value" class="col-md-3 mb-3">
                    <label for="Temperature_Max">Temperature max du produit :
                    </label> {{Specifications_Form.get('Temperature_Max').value}}
                </div>
                <div *ngIf="Specifications_Form.get('Temperature_Min').value" class="col-md-3 mb-3">
                    <label for="Temperature_Min"> Temperature min du produit :
                    </label> {{Specifications_Form.get('Temperature_Min').value}}
                </div>
               
            </div>
            <div class="row">
                <label for="Caracteristique_Technique"> Caracteristique technique du produit :
                </label> {{Informations_Generales_Form.get('Caracteristique_Technique').value}}
            </div>
            <div>
                <button mat-button matStepperPrevious class="btn-primary"
                    style="margin-top: 20px; margin-right: 20px;">Retour</button>
                <button mat-button matStepperNext class="btn-primary" (click)="creerProduit()">Enregistrer</button>
            </div>

        </form>
    </mat-step>
    <mat-step>


        <ng-template matStepLabel>Finalisation</ng-template>

        <div class="row">



            <mat-label> Vous avez ajouté avec succès un produit : </mat-label>
            {{Informations_Generales_Form.get('Nom_Produit').value}}

        </div>
        <div>
            <button mat-button class="btn-primary" matStepperPrevious
                style="margin-top: 20px; margin-right: 20px;">Retour</button>
            <button mat-button class="btn-primary" (click)="genererPdfProduit()">Afficher En PDF</button>
        </div>
    </mat-step>
</mat-vertical-stepper>