<div class="container">
    <h5 class="title col-xs-8 text-center">Type Série</h5>
    <div>
        <table>
            <tbody *ngFor="let qte of nbrQte;let i = index;">
                <tr>
                    <td class="td-number"><b>{{i+1}} - </b></td>
                    <td>
                        <ng-select placeholder="Numéro Série" [searchable]="true" [clearable]="false" id="{{i}}"
                            [(ngModel)]="numSerie[i]" (change)="verifN_serieProduit($event, i)">
                            <ng-option [value]="item.name" *ngFor="let item of numero_Serie" [disabled]="item.selected">
                                {{item.name}}
                            </ng-option>
                        </ng-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div mat-dialog-actions class="right">
        <button mat-button class="btn btn-default " (click)="fermerDialogue()">Fermer</button>
        <button mat-button class="btn btn-primary " (click)="VerifVide()">Valider</button>
    </div>
</div>