<!-- <div class="row">
    <div class="col-md-3">

        <div class="card-shadow-secondary    mb-3 card card-body " style="background-color: #f7f7f7;">
            <img src="../../assets/banniere/wms-warehouse-management-system-stock-management-hd-png.png" style="position: relative;width: auto;">
            <a  routerLink="/Menu/WMS/WMS-Reception"><button type="button" class="btn btn-secondary btn-lg btn-block" >Réception</button></a>   

         </div>
        <div class="card-shadow-secondary mb-3 card card-body ">
             <img src="../../assets/banniere/inventorymanagement-500-x-400_02.png" style="position: relative;width: auto;">
            <a  routerLink="/Menu/WMS/WMS-Stockage"><button type="button" class="btn btn-secondary btn-lg btn-block" >Stockage</button></a>   

        </div>

    </div>
    <div class="col-md-3">
        <div class="card-shadow-secondary    mb-3 card card-body " style="background-color: #f7f7f7;">
            <img src="../../assets/banniere/wmms.png" style="position: relative;width: auto;">
            <a  routerLink="/Menu/WMS-Inventaire"><button type="button" class="btn btn-secondary btn-lg btn-block" >Inventaire</button></a>   

         </div>
       

        <div class="card-shadow-secondary    mb-3 card card-body " style="background-color: #f7f7f7;">
            <img src="../../assets/banniere/stockage.png" style="position: relative;width: auto;">
           <a  routerLink="Menu/WMS/WMS-Reception"><button type="button" class="btn btn-secondary btn-lg btn-block" >Expédition</button></a>   

       </div>         
    </div>
    <div class="col-md-3">
        <div class="card-shadow-secondary    mb-3 card card-body " style="background-color: #f7f7f7;">
            <img src="../../assets/banniere/Statistiques.png" style="position: relative;width: auto;">
            <a  routerLink="/Menu/WMS-Inventaire"><button type="button" class="btn btn-secondary btn-lg btn-block" >Statistiques</button></a>   

         </div>
       
    </div>
</div> -->

  
<div>
    <div class="menu">
        <div class="inline">
            <a routerLink="/Menu/WMS/WMS-Reception"><img src="../../assets/images/wms/wms-warehouse-management-system-stock-management-hd-png.png" />
                <h2>Réception</h2>
            </a> 
        </div> 
        <div class="inline">
            <a routerLink="/Menu/WMS/WMS-Stockage"><img src="../../assets/images/wms/inventorymanagement-500-x-400_02.png" />
                <h2>Stockage</h2>
            </a>
        </div>  
        <div class="inline">
            <a routerLink="/Menu/WMS/WMS-Plan"><img src="../../assets/images/wms/wmms.png" />
                <h2>Inventaire</h2>
            </a>
        </div>
    </div>

    <div class="menu">
        <div class="inline" >
            <a routerLink="/Menu/WMS/WMS-Plan">
                <img src="../../assets/images/wms/plan.png" />
                <h2>Plan</h2>
            </a>
        </div>
        <div class="inline" >
            <a routerLink="/Menu/Menu-init/Menu-ngp">
                <img src="../../assets/images/wms/stockage.png" />
                <h2>Expédition</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/Menu/Menu-init/Menu-donnees"><img src="../../assets/images/wms/Statistiques.png" />
                <h2>Statistiques</h2>
            </a>
        </div>
         
    </div>
</div>
 
 