.colonne {
  width: 25%;
}
.row {
  margin-left: 10px;
}
.entete {
  font-weight: bold;
}

.mat-form-field {
  margin-top: 16px;
}

.boutons {
  float: right;
}
// pour le div qui contient le table des produits a emballer
.produits {
  height: 375px;
  overflow-y: auto;
}
// div qui contient la partie de selection et ajout adresse et aussi la map
.map {
  margin-top: 10px;
}
agm-map {
  height: 400px;
  width: 95%;
}
#manupilation-adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
#adresse-input {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  background: #f5f5f5;
  border-radius: 50px;
  transition: width 600ms, height 600ms;
}
#adresse-input:focus {
  outline: none;
}
.ajouter-adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#ajouter-adresse:hover #adresse-input,
#adresse-input:focus {
  width: 201px;
  height: 40px;
  padding: 0 20px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  ::ng-deep .mat-vertical-content {
    padding: 0 10px 24px 10px !important;
  }
  h1 {
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  .produits {
    height: auto;
    max-height: 375px;
    overflow-y: auto;
  }
  button {
    font-size: 12px;
  }
  .colonne {
    width: 50%;
  }
  .row {
    margin-left: 10px;
  }
  .entete {
    font-weight: bold;
  }
  #manupilation-adresse {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  #adresse-input,
  #ajouter-adresse:hover #adresse-input,
  #adresse-input:focus {
    width: 100%;
    height: 40px;
    padding: 0 20px;
  }
  #ajouter-adresse {
    width: 100%;
    margin: 0;
  }
  #select-adresse {
    width: 100%;
  }
  agm-map {
    height: 200px;
    width: 100%;
  }

  //style tableau
  //forcer le tableau pour ne pas s'afficher comme tableau
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  //cacher les table headers (pas avec display: none;, pour raison d'accessibilité)
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  td {
    // se comporter comme un "row"
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    font-size: 0.7em;
    text-align: right;
  }

  th {
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before,
  th:before {
    //se comporter comme un table header
    position: absolute;
    //valeur du Top/left imittent le padding
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  // donner un label pour les données du table de liste colisage
  th:before {
    content: "Id";
    font-weight: normal;
    text-align: left;
    margin-left: 10px;
  }

  // donner un label pour les données du table des produits
  .produits th:before {
    content: "Id";
    font-weight: normal;
    text-align: left;
    margin-left: 10px;
  }

  // donner un label pour les données
  .produits td:nth-of-type(1):before {
    content: "Nom produit";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .produits td:nth-of-type(2):before {
    content: "Quantité";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .produits td:nth-of-type(3):before {
    content: "Type produit";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .produits td:nth-of-type(4):before {
    content: "Détails";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .produits td:nth-of-type(5):before {
    content: "Actions";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .produits td:nth-of-type(4) {
    padding: 0;
    padding-right: 8.8px;
  }
  .produits td:last-child {
    padding: 0;
    padding-right: 8.8px;
  }

  // donner un label pour les données du table de liste colisage
  .liste-colisage th:before {
    content: "Id";
    font-weight: normal;
    text-align: left;
    margin-left: 10px;
  }

  // donner un label pour les données
  .liste-colisage td:nth-of-type(1):before {
    content: "Produit";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(2):before {
    content: "Pack";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(3):before {
    content: "Qte";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(4):before {
    content: "Nbr. Pack";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(5):before {
    content: "LxlxH (cm)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(6):before {
    content: "Volume (m³)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(7):before {
    content: "Poids net (kg)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage td:nth-of-type(8):before {
    content: "Poids brut (kg)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }

  .liste-colisage tr:last-child {
    background-color: #f1f4f6;
  }

  .liste-colisage tr:last-child th {
    display: none;
  }

  // donner un label pour les données
  .liste-colisage tr:last-child td:nth-of-type(1):before {
    content: "";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage tr:last-child td:nth-of-type(2):before {
    content: "Nbr. Pack";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage tr:last-child td:nth-of-type(3) {
    display: none;
  }
  .liste-colisage tr:last-child td:nth-of-type(4):before {
    content: "Volume (m³)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage tr:last-child td:nth-of-type(5):before {
    content: "Poids net (kg)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .liste-colisage tr:last-child td:last-child:nth-of-type(6):before {
    content: "Poids brut (kg)";
    font-weight: bold;
    color: #52595d;
    text-align: left;
    margin-left: 10px;
  }
  .table-bordered {
    border: 0;
  }
}
