<h1 mat-dialog-title>Produit: {{data.produit.nom}}</h1>
<div mat-dialog-content>
    <!-- information quantité a emballer et quantité non emballée -->
    <div id="quantite-non-emballe">
        <h2 class="quantite">Quantité produit demandée: &nbsp;</h2>
        <h2 class="quantite" style="color: #3f51b5; margin-left: 25px;">{{data.produit.qte}}</h2><br>
        <h2 class="quantite">Quantité produit non emballée: &nbsp;</h2>
        <h2 class="quantite"
            [ngClass]="{'tout-emballee': quantiteNonEmballee === 0 , 'pas-tout-emballe': quantiteNonEmballee > 0}">
            {{quantiteNonEmballee}}</h2>
    </div>
    <!-- partie des input d'ajout quatité emballages -->
    <div id="emballage">
        <form [formGroup]="form">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nom Emballage</th>
                        <th scope="col">Quantité produit</th>
                        <th scope="col">Suggestion</th>
                        <th scope="col">Quantité emballage</th>
                    </tr>
                </thead>
                <tbody formArrayName="qte">
                    <tr *ngFor="let emballage of listeEmballages; let i=index" [formGroupName]="i">
                        <th scope="row">{{emballage.id}}</th>
                        <td>{{emballage.nomEmballage}}</td>
                        <td>{{emballage.qte}}</td>
                        <td>x{{donnerSuggestion(emballage)}}</td>
                        <td>
                            <mat-form-field appearance="fill" style="width: 100px;">
                                <mat-label>Quantité</mat-label>
                                <input matInput type="number" formControlName="qte" [max]="listeMax[i]" [min]="minInput"
                                    onkeyup="if(this.value<0)this.value=0" required
                                    (change)="ajouterQuantiteEmballage(); updateMax(i)"
                                    (keyup)="ajouterQuantiteEmballage(); updateMax(i)">
                                <mat-error *ngIf="qteForm.controls[i].get('qte').hasError('required')">
                                    Veuillez insérer une quantitée!
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<!-- boutons d'actions -->
<div mat-dialog-actions style="float: right;">
    <button mat-button (click)="annuler()" color="warn">Annuler</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="valider()">Valider</button>
</div>