<div *ngIf="wms >= 2">
    <!-- formGroup des filtres -->
    <form [formGroup]="filtreFormGroup">
        <div class="filtres">
            <!-- filtrage par reference -->
            <div class="filtre-reference">
                <!-- type -->
                <div class="selection-filter">
                    <mat-form-field appearance="fill" id="type-id">
                        <mat-select formControlName="type">
                            <mat-option value="Facture">Facture</mat-option>
                            <mat-option value="BL">BL</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- reference -->
                <mat-form-field id="champs-filtre-reference">
                    <mat-label style="padding-left: 10px;">Chercher ID</mat-label>
                    <input type="text" matInput style="padding-left: 10px;" (keyup)="filtrerParReference()"
                        formControlName="id">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <!-- filtre par ville -->
            <div class="filtre-ville">
                <mat-form-field id="champs-filtre-ville">
                    <mat-select formControlName="ville" (selectionChange)="filtrerParVille()">
                        <mat-option value="">Toutes les villes</mat-option>
                        <mat-option *ngFor="let ville of villes" [value]="ville.valeur">{{ville.nom}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- filtre par date -->
            <div class="filtre-date" *ngIf="estManuel">
                <!-- bouton date precedante -->
                <button mat-icon-button (click)="datePrecedente()">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <!-- datePicker -->
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="date"
                        (dateChange)="getCommandesModeManuel()" (click)="picker.open()"
                        [matDatepickerFilter]="disableDateNonExistante" readonly style="cursor: pointer;">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- bouton date suivante -->
                <button mat-icon-button (click)="dateSuivante()">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>

        </div>
    </form>
    <div>
        <mat-table [dataSource]="dataSource" matSort matSortActive="dateCreation" matSortDirection="asc">

            <!-- Colonne reference -->
            <ng-container matColumnDef="reference">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reference </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Reference"> {{element.reference}} </mat-cell>
            </ng-container>

            <!-- Colonne type -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Type"> {{element.type}} </mat-cell>
            </ng-container>

            <!-- Colonne id client -->
            <ng-container matColumnDef="idClient">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id client </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Id client"> {{element.idClient}} </mat-cell>
            </ng-container>

            <!-- Colonne nom client -->
            <ng-container matColumnDef="nomClient">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nom client </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Nom client"> {{element.nomClient}} </mat-cell>
            </ng-container>

            <!-- Colonne ville -->
            <ng-container matColumnDef="ville">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ville </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Ville"> {{element.ville}} </mat-cell>
            </ng-container>

            <!-- Colonne adresse -->
            <ng-container matColumnDef="adresse">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Adresse"> {{element.adresse}} </mat-cell>
            </ng-container>

            <!-- Colonne date creation -->
            <ng-container matColumnDef="dateCreation">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Date de création"> {{ element.dateCreation |
                    date:"dd/MM/yyyy" }} </mat-cell>
            </ng-container>

            <!-- Colonne actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button style="color: #4CAF50;" aria-label="Bouton ajouter commande"
                        (click)="ouvrirBoiteDialogueCreerCommande(element)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button style="color: #24a0ed;" aria-label="Bouton voir info"
                        (click)="ouvrirBoiteDialogueInfo(element)">
                        <mat-icon>info</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>