<div class="row">
    <div class="col-md-6 d-flex align-items-stretch card-hover">
        <div class="main-card mb-3 card" style="width: 100%;" routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Produit">
            <div class="card-header"> <i class="header-icon lnr-license icon-gradient bg-plum-plate pe-7s-shopbag"
                    routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Produit"> </i> Emballage d'un produit

            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-eg1-0" role="tabpanel">
                        <p>Créer un emballage pour un produit</p>
                    </div>

                </div>
            </div>
            <div class="d-block text-right card-footer">
                <a routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Produit"
                    class="btn-wide btn"><i class="fas fa-arrow-right" style="color: #6184db;"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch card-hover">
        <div class="main-card mb-3 card" style="width: 100%;" routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Pack">
            <div class="card-header">
                <i class="header-icon lnr-license icon-gradient bg-plum-plate pe-7s-box2"
                    routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Pack">
                </i> Emballage des packs

            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-eg1-0" role="tabpanel">
                        <p> Créer un emballage pour un ou plusieurs produits déja emballés </p>
                    </div>

                </div>
            </div>
            <div class="d-block text-right card-footer">
                <a routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Pack" class="btn-wide btn"><i class="fas fa-arrow-right" style="color: #6184db;"></i></a>
            </div>
        </div>
    </div>
</div>