<div>
    <h1 class="col-xs-8 text-center">Devis - Facture</h1>
    <div class="row">
        <h5 class="title">Convertir un devis en facture : </h5>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Sélectionnez un Client</mat-label>
                    <mat-select [(ngModel)]="champ" (change)="onChange($event)">
                        <mat-option *ngFor="let key of keyValues" [value]="key.id_Clt">{{key.nom_Client }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input-group col-md-4">
                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Saisissez une plage de dates</mat-label>
                    <mat-date-range-input [rangePicker]="rangePicker">
                        <input matStartDate placeholder="Date de début" [(ngModel)]="dateRangeStart"
                            (dateChange)="dateRangeChangeDateOne($event)" />
                        <input matEndDate placeholder="Date de fin" [(ngModel)]="dateRangeEnd"
                            (dateChange)="dateRangeChangeDateTwo($event)" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker>
                        <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Annuler</button>
                            <button mat-raised-button color="primary" matDateRangePickerApply
                                (keyup)="getValue($event); filterByChamp()"
                                (click)="getValue($event); filterByChamp()">Appliquer</button>
                        </mat-date-range-picker-actions>
                    </mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <br>

    <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
    <div class="mat-elevation-z8">
        <table class="mb-0 table" mat-table matSort [dataSource]="dataSourceDevis">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"><input type="radio" value="element" name="element."
                        (change)="checkCheckBoxvalue($event,element)" /></td>
            </ng-container>
            <ng-container matColumnDef="id_Devis">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Devis </th>
                <td mat-cell *matCellDef="let element">{{element.id_Devis}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                <td mat-cell *matCellDef="let element">{{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="date_Creation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                <td mat-cell *matCellDef="let element">{{element.date_Creation | date: 'dd/MM/YYYY' }} </td>
            </ng-container>
            <ng-container matColumnDef="total_ttc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total TTC</th>
                <td mat-cell *matCellDef="let element"> {{element.total_TTC}}</td>
            </ng-container>
            <ng-container matColumnDef="Voir_pdf">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element;let i=index;"> <i class="pe-7s-look btn-b" title="Voir PDF"
                        (click)="viewPDF(element)"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="row right">
        <button mat-raised-button class="next" [disabled]="dsiable" routerLink="../Devis-Facture/{{id_Devis}}">Suivant >
        </button>
    </div>
</div>